/* you can add to or change this. */

h1, #buttonsDiv{
  margin-left: 20px;

}

.buttons{
  width: 120px;

}

label{
  font-family:Arial, Helvetica, sans-serif
}

#across{
  display: flex;
  flex-direction: row;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;

}

#game {
  max-width: 850px;
  min-width: 710px;
}

.red{

}

.redOn{
  background-color: red;
}

.blue{

}

.blueOn {
  background-color: blue;
}

.green{

}

.greenOn{
  background-color: green;
}

.orange{

}

.orangeOn{
  background-color: orange;
}

.purple{

}

.purpleOn{
  background-color: purple;
}

#scoreboard{
  margin: 5vw;
}